<div class="">
  <h1>Lista de Empleados</h1>

  <div class="filters"></div>

  <div class="employee_actions">
    <button mat-raised-button color="accent" (click)="addEmployee()">
      Agregar
    </button>
    <button mat-raised-button color="warn" (click)="logOut()">
      Cerrar sesion
    </button>
  </div>

  <div class="employee_container">
    <app-employee-items
      *ngFor="let employee of employees"
      [employee]="employee"
      (deleteEmployee)="deleteEmployee($event)"
    ></app-employee-items>
  </div>
</div>
