<div class="login_page row center">
  <mat-card class="login_container">
    <mat-card-title class="login_container_title"
      >Autentificarse</mat-card-title
    >

    <mat-card-content>
      <div class="row">
        <mat-form-field class="login_input">
          <mat-label>Nombre de Usuario</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>

      <div class="row ">
        <mat-form-field class="login_input">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" />
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions class="longin_actions">
      <!-- Buttons -->
      <button mat-flat-button color="primary">Iniciar sesion</button>
    </mat-card-actions>
  </mat-card>
</div>
