.detail_container {
  width: 80%;
  margin: 25% auto 0px auto;
  display: flex;
  flex-direction: column;
}

.detail_input {
  width: 100%;
}

.detail_action {
  display: flex;
  justify-content: flex-end;
}

.detail_button {
  margin: 0px 8px;
}
